@font-face
{
	font-family: 'Noto Nastaliq Urdu';
	src: url('./fonts/NotoNastaliqUrdu-Regular.ttf');
}

div.UrduRender, span.UrduRender
{
	font-family: 'Alvi Nastaleeq', 'Jameel Noori Nastaleeq', 'Noto Nastaliq Urdu', 'Cambria', serif;
	font-size:  1.3em;
	line-height: 135%;
}

body
{
	font-family: 'Cambria', Helvetica, serif;
	letter-spacing: 0.03em;
	font-size: 1.05em;
	line-height: 130%;
	padding: 10px 10px 10px 10px;
}

/* Style the tab */ 
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    box-shadow: -4px 2px 0 rgba(0, 0, 0, .2);
	background: #fff;
	color:#000;
    float: left;
    border: 1px solid grey;
    outline: none;
    cursor: pointer;
    padding: 12px 15px;
    transition: 0.4s;
	border-top-left-radius:12px 12px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #fff;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #4ab;
	color:#fff;
}

/* Style the tab content */
.miscInfo 
{
    display: none;
	animation: fadeEffect 0.8s;
    padding: 10px 10px 10px 10px;
	height: 350px;
	overflow-y:scroll;
    border: 1px solid #ccc;
    border-top: none;
}
/* Go from zero to full opacity */

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}